<div class="container w-100">
  <div class="row ">
    <p class="text-center col-12">
      <h1>Welcome to Deep Pockets Disk</h1>
      <small class="sm">Made with ♥ by Osamah Mandawi</small>
    </p>
  </div>
</div>