<%= form_with(model: @game, id: dom_id(@game)) do |form| -%>
  <% if @game.errors.any? %>
    <% @game.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  
  <ul class="list-group list-group-flush">
  </ul>
  
  <div class="d-grid mx-5">
    <%= button_tag class: "btn btn-primary modern-btn" do %>
      Create Game <i class="bi bi-plus-circle-fill"></i>
    <% end %>
  </div>
<% end %>
