<% if opened_letters.include? letter %>
  <div class = "display-6 p-3 m-1 text-center rounded-circle bg-primary text-light b-0 shadow-sm" style = "width: 5rem; height: 5rem; display: inline-block;">
    <%= letter %>
  </div>
<% else %>
  <div class = "display-6 p-3 m-1 text-center rounded-circle bg-secondary text-secondary b-0 shadow-sm" style = "width: 5rem; height: 5rem; display: inline-block;">
    &nbsp;
  </div>
<% end %>