<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Games", games_path %></li>
  <li class="breadcrumb-item active mr-auto"><%= @game.id %></li> 
</ol>
<div class="card">
  <ul class="list-group list-group-flush">
  </ul>
  <div class='p-5'>
    <% if @game.started? %>
      <%= render "game_room" %>
    <% else %>
      <%= render "waiting_room" %>
    <% end %>
  </div>
</div>
